
.header {
    height: 100px;
    width: 100%;
    justify-content: space-around;
    background-color: #5356FF;
    display: flex;
    flex-direction: row;
    position:static;
    margin: none;
    margin-top: -10px;
    margin-left: -10px;
    padding: 15px;
    border-bottom: 1px solid black ;
    align-items: center;
    top:-10px;
    right: 0px;
    left: 0px;
    direction: rtl;
}

.h1 {
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700 ;
    color:white;
    outline: black 0.5px;
    text-decoration: none;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
    direction: rtl;
}
.or-text{ 
    text-decoration: none;
    color: white;    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500 ;
    direction: rtl;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    color: #FE7A36;
}
.tabs-text, .tabs {
    text-decoration: none;
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400 ;
    color:white;
}

.tabs-text-on {
    text-decoration: none;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700 ;
    color:white; 
}
.tabs-text:hover {
font-weight: 700;
}
.profile {
    height: 80px;
    width: 15vw;
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #67C6E3;
    border: 1px solid black;
    border-radius: 40px;
    align-items: center;
    direction: ltr;
    padding-left: 10px;
    cursor: pointer;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    -ms-border-radius:40px;
    -o-border-radius:40px;
}

.profile:hover { box-shadow:rgba(92, 93, 96, 0.48) 0 14px 25px; transition: 0.2s linear; -webkit-transition: 0.2s linear; -moz-transition: 0.2s linear; -ms-transition: 0.2s linear; -o-transition: 0.2s linear;
}

.user {
    direction: ltr;
    padding-left: 10px;
}

.username {
    text-decoration: none;
    color: black;  
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600 ;
    position: relative;
    top:-10px;
    left: 8px;
}

.avatar {
    height: 25px;
    width: 25px;
    border: 1px black solid;
    border-radius: 45%;
    -webkit-border-radius: 45%;
    -moz-border-radius: 45%;
    -ms-border-radius: 45%;
    -o-border-radius: 45%;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #DFF5FF;
    overflow-x: hidden;
}

.container-white {
height: auto;
width: auto;
padding: 100px;
background-color: white;
border: 1.2px black solid;
box-shadow: rgba(151, 152, 156, 0.49) 20px 19px 25px;
}


.container-blue {
    height: auto;
    width: auto;
    padding: 100px;
    background-color: #378CE7;
    border: 1.2px black solid;
    box-shadow: rgba(151, 152, 156, 0.49) 20px 19px 25px;
}

.h2 { font-size: xx-large;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 700 ;
color:white;
outline: black 0.5px;
text-shadow:
-1px -1px 0 #000,
1px -1px 0 #000,
-1px 1px 0 #000,
1px 1px 0 #000;
direction: rtl;
}
.text { 
    text-decoration: none;
    color: white;    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500 ;
    direction: rtl;
}

.join {
    height: 50px;
    width: 100px;
    text-align: center;
    background-color: #FE7A36;
    cursor:pointer;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    border: 0.5px solid #FE7A36;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(151, 152, 156, 0.49) 20px 19px 25px;
    animation: shine 1.5s infinite alternate;
    -webkit-animation: shine 1.5s infinite alternate;
}

.i {
		/*positioning*/position: absolute;
		opacity: 0;
		top: 0;
		left: 0;
		/*gradient*/background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.03) 1%, rgba(255,255,255,0.6) 30%, rgba(255,255,255,0.85) 50%, rgba(255,255,255,0.85) 70%, rgba(255,255,255,0.85) 71%, rgba(255,255,255,0) 100%);
		/*FF3.6+*/background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(1%,rgba(255,255,255,0.03)), color-stop(30%,rgba(255,255,255,0.85)), color-stop(50%,rgba(255,255,255,0.85)), color-stop(70%,rgba(255,255,255,0.85)), color-stop(71%,rgba(255,255,255,0.85)), color-stop(100%,rgba(255,255,255,0)));
		/*Chrome,Safari4+*/background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.03) 1%,rgba(255,255,255,0.6) 30%,rgba(255,255,255,0.85) 50%,rgba(255,255,255,0.85) 70%,rgba(255,255,255,0.85) 71%,rgba(255,255,255,0) 100%);
		/*Chrome10+,Safari5.1+*/background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.03) 1%,rgba(255,255,255,0.6) 30%,rgba(255,255,255,0.85) 50%,rgba(255,255,255,0.85) 70%,rgba(255,255,255,0.85) 71%,rgba(255,255,255,0) 100%);
        width: 15%;
		height: 100%;
		transform: skew(-10deg,0deg);
		-webkit-transform: skew(-10deg,0deg);
		-moz-transform: skew(-10deg,0deg);
		-ms-transform: skew(-10deg,0deg);
		-o-transform: skew(-10deg,0deg);
		/*animatingit*/animation: move 2s;
		animation-iteration-count: infinite;
		animation-delay: 1s;
		-webkit-animation: move 2s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-delay: 1s;
		-moz-transform: skew(-10deg,0deg);
		-moz-animation: move 2s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-delay: 1s;
		-ms-transform: skew(-10deg,0deg);
		-ms-animation: move 2s;
		-ms-animation-iteration-count: infinite;
		-ms-animation-delay: 1s;
		-o-transform: skew(-10deg,0deg);
		-o-animation: move 2s;
		-o-animation-iteration-count: infinite;
		-o-animation-delay: 1s;
		-webkit-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}
@keyframes move {
	0%  { left: 0; opacity: 0; }
	5% {opacity: 0.0}
	48% {opacity: 0.2}
	80% {opacity: 0.0}
	100% { left: 82%}
}


.statisics {
    display: flex;
      height: auto;
      width: auto;
      padding: 45px;
      border-radius:20px ;
      -webkit-border-radius:20px ;
      -moz-border-radius:20px ;
      -ms-border-radius:20px ;
      -o-border-radius:20px ;
      background-color: #67C6E3;
      direction: rtl;
      justify-content: space-around;

}

.cont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    width: 97%;
}

.div {
    display: flex;
    flex-direction: column;
padding: 5px;
animation: rise 1s ease-in-out forwards;

    
}

.footer {
    height: 180px;
    width: 98.5%;
    background-color: #070F2B;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: -8px;
    padding: 20px;
    direction: rtl;
}

.social-media {
    justify-content: space-around;
    direction: ltr;
    padding: 15px;
}

#icon {
    height: 50px;
    width: 50px;
}

@keyframes rise {
    from {
      transform: translateY(20px); /* Starts 20px below its normal position */
      opacity: 0; /* Starts invisible */
    }
    to {
      transform: translateY(0px); /* Moves to its normal position */
      opacity: 1; /* Becomes fully visible */
    }
  }

  .rise-up {
    opacity: 0; /* Initially hide the element */
  transform: translateY(20px); /* Move down slightly */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  .rise-up.visible {
    opacity: 1; /* Show the element when visible */
    transform: translateY(0px); /* Move to its normal position */
  }

.videos, .books, .courses, .tests {
    height: 100%;
    width: 97%;
    direction: rtl;
    padding: 20px;
}
  .videos-container, .books-container, .courses-container, .tests-container {
    padding: 10px;
    display: flex;
     direction: rtl;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-evenly;
     height: 100%;
     width: 100%;
  }

  .video , .book { 
    width:330px; 
    margin-bottom:40px; 
    cursor:pointer;
    direction: rtl;
    } 
    .thumbnail { 
    width:100%; 
    height:187px;
    margin-bottom:12px;
    } 
    .thumbnail img {
    width:330px;
    height:187px;
    border-radius:20px ;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
} 
    .video-details , .book-details { 
    display:flex; 
    } 
    .creater-img img {
    height:40px; 
    width:40px; 
    border-radius:50%;
    margin-right:12px;
    } 
    .title { 
    display:flex; 
    flex-direction:column; 
    } 
    .title a { 
    text-decoration: none; 
    } 
    .video-title, .book-title { 
    color: rgb(3,3,3); 
    font-size:1.6rem; 
    max-width:278px;
    font-weight:500;
    line-height:2.2rem;
    margin-bottom:4px; 
    overflow:hidden;
    display:-webkit-box;
    -webkit-line-clamp:2; 
    -webkit-box-orient:vertical; 
    }
    
    .video-creater , .title span, .book-publisher { 
    color : rgb(96,96,96); 
    font-size:1.4rem;
    line-height: 2rem; 
    font-weight:400;
    }
    
    .video-creater:hover, .book-publisher:hover { 
    color:black; 
    }
    
    


    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    ::-webkit-scrollbar-thumb {
        background: #FE7A36;
        -webkit-transition: .3s;
        transition: .3s;
    }
    ::-webkit-scrollbar-track {
        background: #f7f8fe;
    }
    ::selection {
        color: #f7f8fe;
        background: #6a82ff;
    }

 




    .course {
        width: 280px;
        height: 400px;
        background: white;
        border-radius: 30px;
        box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
        transition: 0.2s ease-in-out;
      }

      .test {
        width: 280px;
        height: 400px;
        background: white;
        padding: .4em;
        border-radius: 6px;
        box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;

      }
      
      .test-image {
        background-color: rgb(236, 236, 236);
        width: 100%;
        height: 130px;
        border-radius: 6px 6px 0 0;
      }
      
      .test-image:hover {
        transform: scale(0.98);
      }
      
      .test-type {
        text-transform: uppercase;
        font-size: 0.7em;
        font-weight: 600;
        color: rgb(63, 121, 230);
        padding: 10px 7px 0;
      }
      
      
      
      .test-name {
        font-weight: 600;
        color: rgb(88, 87, 87);
        padding: 7px;
      }
      
      .test-name:hover {
        cursor: pointer;
      }
      
      .author {
        color: gray;
        font-weight: 400;
        font-size: 11px;
        padding-top: 20px;
      }
      
      .name {
        font-weight: 600;
      }
      
      .name:hover {
        cursor: pointer;
      }


      .img {
        width: 100%;
        height:50%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background: linear-gradient(#0befff, #fd1010);
        display: flex;
        align-items: top;
        justify-content: right;
      }
      
      
      .cardbody {
        display: flex;
        height: 50%;
        width: 100%;
        flex-direction: column;
        align-items: center
      }
  
      .cardbody .h3 {
        font-size: large;
        font-weight: 700;
        color: black;
      }
      
      .cardbody .p {
        color: #999999;
        font-size: small;
      }
      
      .card:hover {
        cursor: pointer;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
      }

      .sign {
        width: 70%;
        padding: 10px;
        background-color: #e3fff9;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        cursor: pointer;
}
      
.row {
display: flex;
flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.imga {
    height:30px; 
    width:30px; 
    border-radius:50%;
}

.credits {
    position: relative;
    bottom: -18px;
    padding: 5px;
    display: flex;
    flex-direction: row;
align-items: center;
}



.enter {
    background-color: #FE7A36;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 10em;
    border-radius: 1rem;
    color: #5356FF;
    box-shadow: 0 0.2rem #dfd9d9;
    text-decoration: none;
    cursor: pointer;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    font-weight: 700;
align-items: center;}
   
   .enter:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
   }

   .sign {
    text-decoration: none;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400 ;
    color:black;
}

   

